.phoneInput {
    position: relative;
    width: 100%;
    margin: 1rem 0;
}

.phoneInput__selector {
    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    left: 0.3rem;
    top: 50%;
    transform: translateY(-50%);

    height: clamp(40px, 6.5vw, 46px);
    width: clamp(40px, 6.5vw, 46px);
    background-color: #d3d3de26;
    padding: 0 10px;
    border-radius: 16px;
    font-size: clamp(1.5rem, 1.9vw, 2rem);
}

.phoneInput__field {
    display: flex;
    align-items: center;

    width: 100%;
    height: clamp(48px, 7vw, 56px);
    border-radius: 20px;
    padding-left: 4.5rem;
    padding-right: 1rem;

    font-size: clamp(1rem, 3.5vw, 1.25rem);
    font-weight: 600;
    color: #ffffff;
    cursor: text;

    outline: none;

    border: 1px solid #d3d3de26;
    background-color: transparent;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);

    transition: all 0.3s ease;
}

.phoneInput__field::placeholder{
    color: #d3d3de26;
}

.phoneInput__field:focus,
.phoneInput__field:hover {
    border: 1px solid #ffffff;
}

/* Chrome, Safari, Edge, Opera */
input[type=tel]::-webkit-outer-spin-button,
input[type=tel]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

@media (max-width: 360px) {
    .phoneInput__field {
        padding-left: 4rem;
    }
}
