.page {
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("/authbg.png");
  background-size: 101%;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -1;
}

.card {
  background-color: #131317;
  color: rgba(247, 247, 255, 0.9);
  padding: 2rem 2rem 3rem 2rem;
  border-radius: 25px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 376px;
  text-align: center;
  font-family: "YS Text", Arial, sans-serif;
  z-index: 1;
  position: relative;
  margin-top: auto;
}

.title {
  font-size: 1.8rem;
  font-weight: 600;
  text-align: left;
  margin-top: 2rem;
}

.subtitle {
  font-size: 1.05rem;
  font-weight: 500;
  text-align: left;
  margin-top: 0.5rem;
  margin-bottom: 1.5rem;
}

/* Yandex Info Block */
.yandexInfo {
  color: #fff;
  font-size: 0.95rem;
  text-align: center;
  margin-top: 1rem;
}

.yandexInfo__title {
  font-size: 1rem;
  font-weight: 500;
}

.yandexInfo__link {
  margin-top: 5px;
  font-size: 1rem;
  font-weight: 900;
  display: inline-block;
}

.yandexInfo__link:hover {
  text-decoration: underline;
}

/* Footer */
.footer {
  margin-top: auto;
  padding: 1rem 0;
  width: 100%;
  z-index: 1;
  color: #fff;
}

.footerNav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  font-size: 0.85rem;
}

.footerNav__link {
  color: inherit;
  text-decoration: none;
}

.footerNav__link:hover {
  text-decoration: underline;
}

.footerNav__right {
  display: flex;
  align-items: center;
  gap: 20px;
}

.footerNav__copyright {
  display: flex;
  gap: 4px;
}
